.item-image img {
    max-width: 40%;
    max-height: 400px; /* Ajusta este valor según lo que necesites */
    display: block;
    margin: auto; /* Centra la imagen horizontalmente */
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra suave a las tarjetas */
  }
  
  .card-body {
    margin-bottom: 20px; /* Añade un margen inferior para separar el contenido */
  }