

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PokeDex</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/welcome">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        @if (authService.currentUserSig() == null) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      }
      @if (authService.currentUserSig()) {
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" routerLink="/login">Logout</a>
      </li>
    }
      </ul>
      @if (authService.currentUserSig()) {
        <label class="form-label" for="disabledInput">{{ authService.currentUserSig()?.username}}</label>
    }
    </div>
  </div>
</nav>

<router-outlet></router-outlet>