@if (authService.currentUserSig()) {

<nav class="container mt-4">
    <div class="container">
        <a href="/pokedex" class="box">Pokedex</a>
        <a href="/items" class="box">Items</a>
        <a href="/games" class="box">Games</a>
        <a href="/tcg" class="box">Trade Cards</a>
    </div>
</nav>
}
@if (authService.currentUserSig() == null) {
<div class="center-div card border-primary mx-auto mb-3" style="max-width: 20rem;">
    <div class="card-header bg-light text-white">¡PokeAuth!</div>
    <div class="card-body">
        <h4 class="card-title">IMPORTANTE!</h4>
        <p class="card-text">Para acceder a esta información, por favor inicia sesión o crea una cuenta.</p>
        <a href="/login" class="btn btn-primary">Iniciar Sesión</a>
        <div style="height: 10px;"></div> <!-- Espacio entre los botones -->
        <a href="/register" class="btn btn-info">Crear Cuenta</a>
    </div>
</div>
<img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/094.png" alt="Gengar">
}